body,html {
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'IM Fell DW Pica SC', serif;
}
.backgroundImage{
    background: url(https://images.unsplash.com/photo-1532767153582-b1a0e5145009?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0c2a9fe82a0be038c293884bbb7f0f7&auto=format&fit=crop&w=2734&q=80);
    height: 100%;
    background-size: cover;
    color:white;
    margin-top:-20%;
    padding-bottom:20%;

}

.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(238,223,204);
    display: inline-block;

    .Hallo{
        display: inline-block;
        justify-content: center;
        font-size: 4em;
        letter-spacing: 1.55em;
        font-weight: 100;
        padding-left:1.3em;
    }

    .line{
        margin: auto;
        width: 80%;
        border: .2em;
    }

    #countDown{
        justify-content: center;
        font-size: 4em;
        font-weight: lighter;
        word-spacing: 3em;
        border:3px;
    }
}